<%- include("partials/header") -%>
<h1>Home</h1>
<p><%= home %></p>

<% posts.forEach(function(element){ %>
    <h1><%= element.heading %></h1>
    <p><%= element.content.substring(0,60)+"......." %><a href="/posts/<%=element.heading %>">Read More</a></p>
<% }); %>

<%- include("partials/footer") -%>